
a, address {
    text-decoration: none;
    color:currentColor;
    font-style: inherit;
}


body {
font-family: "Montserrat";
font-weight: 500;
}

footer {
    background-color: #1E1823;
    color: white;
}

.footer ul,ol {
    list-style-type: none;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
 img {
    max-width: 100%;
    height: 100%;
    display: block;
 }

 a {
    color: inherit;
    text-decoration: none;
 }



.container {
    width: 1168px;
    padding: 0 16px;
    margin: 0 auto;
}

.container-footer {
    display: flex;
    padding: 50px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;
}

.container-footer-nav {
    padding: 42px 0 68px 0;
}

.social {
    margin-right: 50px;
}

.footer-title {
font-weight: 500;
font-size: 28px;
line-height: 121%;
width: 300px;
margin-right: auto;
letter-spacing: -0.02em;
}

.footer-span {
color: #FD9222;
}

.footer-text {
margin-bottom: 14px;
font-weight: 500;
font-size: 14px;
line-height: 129%;
}

.footer-social-list {
  display: flex;
  gap: 14px;
}

.footer-social-item {

}

.footer-social-link {
    font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
text-align: center;

}

.footer-address {

}

.footer-address-list {
}

.footer-address-item {

}

.footer-address-link {
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
text-align: center;
}

.footer-nav {
display: flex;
}

.footer-nav-list {
display: flex;
gap: 24px;
}

.footer-nav-item {

}

.footer-nav-link {
font-weight: 500;
font-size: 14px;
line-height: 114%;
letter-spacing: -0.02em;
}

header {
    padding: 24px 0;
}

.header-cont {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;

}

.logo {
    display: inline-flex;
}

.nav-list {
    display: flex;
    gap: 24px;
    margin-left: 365px;
}

.header-icon-list {
    display: flex;
    gap: 14px;
}